/* src/styles/Login.module.css */
.loginContainer {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 25px;
  }
  
  .inputField {
    width: calc(100% - 20px); /* Membuat sedikit ruang di kiri dan kanan */
    padding: 12px;
    margin: 0 auto 20px auto; /* Centering dengan auto */
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f7f9fc;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .inputField:focus {
    border-color: #45a049;
    outline: none;
  }
  
  .loginButton {
    width: calc(100% - 20px); /* Membuat sedikit ruang di kiri dan kanan */
    padding: 12px;
    margin: 0 auto;
    border: none;
    border-radius: 6px;
    background-color: #45a049;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginButton:hover {
    background-color: #2c7530;
  }
  